{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Update Tempat Hiburan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/addTempat.css' %}">
{% endblock %}
{% block headercontent %}
    <span>Update <br> Tempat Hiburan</span>
{% endblock %}
{% block content %}
<div class="container" style="margin: auto;">

    <div class="row justify-content-center">
        <div class="card-body "
            style="border: none; border-radius: 20px; border-color: #2c063c; background-color:#F2F2F2; ">

            <p class="card-text">
                <br>
            <form method="POST" style="margin: 10px;">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Nama Tempat:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.nama }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Status:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Budget:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.budget }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Kontak:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.kontak }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Alamat:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.alamat }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Jam Buka:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jam_buka }}
                        </div>
                    </div>
                    <div class="form-group row" >
                        <label for="inputPassword3" class="col-sm-2 form-control-label">
                            <h5>Jam Tutup:</h5>
                        </label>
                        <div class="col-sm-10">
                            {{ form.jam_tutup }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Ubah"/>
                </div>
            </form>

            </p>
        </div>
    </div>
</div>
</div>


{% endblock %}
