{% extends 'base.html' %}
{% block meta %}
<!-- blm load css -->
    {% load static %}
    <!-- <link src="{% static 'rumah_sakit/style.css' %}"> -->
    <title>Rumah Sakit</title>
{% endblock %}
{% block headercontent %}
    <span>Rumah Sakit</span>
    <br>
{% endblock %}
{% block content %}
<div class="container">
    <div> 
        <a class="btn btn-primary btn-block ml-auto" style="font-size: large; color: white;  width: 12rem; margin-bottom: 30px; margin-top: 30px; border-radius: 20px;" href="{% url 'rumah_sakit:tambahRS' %}" role="button">+ Tambah RS</a>
    </div>

    <div class="row justify-content-center">
        {% for rs in data_rs %}
        <div class="card"  style="background-color: #6E96D3; width: 20rem; box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.2); margin-right: 50px; margin-bottom: 50px; max-width: 100%; align-content: center; border-radius: 10px ;">
            <img class="card-img-top" src="{{rs.link_foto}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>{{rs.nama_rs}}</strong> </h5>
                <div class="card-body">
                    <h6><strong> Status:</strong></h6>
                    <span>{{rs.status}}</span>
                    <h6><strong>Menerima Rapid/Swab:</strong></h6>
                    <span>{{rs.test_rs}}</span>
                    <h6><strong>Alamat:</strong></h6>
                    <span>{{rs.alamat}}</span>
                </div>
                <div class="text-center"><a id="detail" href="{% url 'rumah_sakit:detailRS' rs.pk %}" href="#" class="btn btn-light" style= "border-radius: 20px; width: 8rem; font-weight: bold;">Lihat Detail</a></div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>


{% endblock %}