body {
	background-color: white;
}

@media only screen and (max-width: 480px) {
	.foto-1 , .foto-2 {
		padding: 0px;
	}

	.foto-2 img{
		width: 80%;
	}
	
	.foto-1 img {
		width: 100%;
	}

	.kategori-search span {
		font-family: Montserrat !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size:  20px !important;
		text-align: center !important;
		line-height: 22px !important;
		margin-top: 25px;
		margin-bottom: 10px;
		color: #4180E2;
	}
	
	.kategori-search form input {
		border-radius: 10px !important;
		width: 150px !important;
		padding: 20px !important;
		margin-bottom: 25px;
	}
	
	.base-kategori {
		background-color: rgba(196,196,196,0.4);
		padding: 10px 7px 0px 7px !important; 
	}
}

@media only screen and (max-width: 620px) {
	.foto-1 , .foto-2 {
		padding: 0px;
	}

	.foto-2 img{
		width: 80%;
	}
	
	.foto-1 img {
		width: 100%;
	}

	.kategori-search span {
		font-family: Montserrat !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size:  24px !important;
		text-align: center !important;
		line-height: 25px !important;
		margin-top: 25px;
		margin-bottom: 10px;
		color: #4180E2;
	}
	
	.kategori-search form input {
		border-radius: 10px !important;
		width: 200px !important;
		padding: 20px !important;
		margin-bottom: 50px;
	}
	
	.base-kategori {
		background-color: rgba(196,196,196,0.4);
		padding: 10px 7px 0px 7px !important; 
	}
}

nav .collapse {
	justify-content: flex-end;
}

nav {
	background-color: #4180E2;
	font-family: bebas;
	font-size: 20px;

}

.navbar-expand-lg .navbar-nav .nav-link {
	color: white;
}

.footer {
	color: white;
	margin: auto;
	background-color: rgba(196,196,196,0.4);
	padding: 35px
}

.base-kategori {
	background-color: rgba(196,196,196,0.4);
	padding: 35px 65px 0px 65px; 
}

.foto-2 {
	width: 40%;
}

.foto-1 {
	width: 40%;
}

.kategori-search span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size:  35px;
	text-align: center;
	line-height: 2rem;

	color: #4180E2;
}

.kategori-search form input {
	border-radius: 10px;
	width: 300px;
	padding: 20px;
}

.footer .logo-footer img {
	width: 90px;
	height: 90px;
}

.footer .logo-footer {
    width: 120px;
    height: 60px;
    border-radius: 13px;
    background-color: rgba(0,0,0,0.13);
}

.footer .gambar-sosmed img {
	width: 200px;
	height: 35px;
}

