{% extends 'base.html' %}
{% block meta %}
    <title>Detail Restoran</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'restoran/restoranstyle.css' %}">
{% endblock %}
{% block headercontent %}
    <span class="lh-0">{{ restoran.nama }}</span>
{% endblock %}
{% block content %}
    <a class="btn btn-primary btn-block ml-auto"
                               style="font-size: large; color: white; width: 12rem; margin-bottom: 30px ;margin-top: 30px;"
                               href="{% url 'restoran:update' restoran.id %}"
                               role="button">Update</a>
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="detailimg m-3 p-3" src="http://2.bp.blogspot.com/-n4XVTOEePrA/UsNPki9OppI/AAAAAAAAAD8/vvOve1Lqk3E/s1600/5-Restoran-cepat-saji-ist.jpg" alt="image">
            </div>
            <div class="col">
                <div class="fieldlabel m-3 p-3">
                    <b>Alamat</b>
                    <p>{{ restoran.alamat }}</p>
                </div>
                <div class="fieldlabel m-3 p-3">
                    <b>Jam Operasional</b>
                    <p>{{ restoran.time_open }} - {{ restoran.time_close }}</p>
                </div>
                <div class="fieldlabel m-3 p-3">
                    <b>Kategori</b>
                    <p>{{ restoran.kategori }}</p>
                </div>
                <div class="fieldlabel m-3 p-3">
                    <b>Jenis Pemesanan</b>
                    <p>{{ restoran.jenis_pesanan }}</p>
                </div>
                <div class="fieldlabel m-3 p-3">
                    <b>Nomor Telepon</b>
                    <p>{{ restoran.telepon }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>Daftar Makanan</h3>
    <div><a class="btn btn-primary btn-block ml-auto"
            style="font-size: large; color: white; width: 12rem; margin-bottom: 30px ;margin-top: 30px;"
            href="{% url 'restoran:add_food' restoran.id %}" role="button">+ Tambah Makanan</a></div>
    <br>
    <div class="container">
        <div class="row">
            {% if food_exists %}
                {% for food in foods %}
                    {% if food.restoran.id == restoran.id %}
                        <div class="col card text-dark align-items-center">
                            <div class="card-body">
                                <!--foto restoran -->
                                <img class="card-img-top" src="http://2.bp.blogspot.com/-n4XVTOEePrA/UsNPki9OppI/AAAAAAAAAD8/vvOve1Lqk3E/s1600/5-Restoran-cepat-saji-ist.jpg"
                                     alt="Card image">
                                <div class="card-title"><strong>{{ food.nama }}</strong></div>
                                <br>
                                <div class="card-title">Rp{{ food.harga }}</div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
